@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: gilroy-bold;
  src: url(/gilroy/Gilroy-Bold.ttf);
  font-weight: 400;
}
.gilroy-b {
  font-family: gilroy-bold;
}
@font-face {
  font-family: gilroy-medium;
  src: url(/gilroy/Gilroy-Medium.ttf);
  font-weight: 400;
}
.gilroy-m {
  font-family: gilroy-medium;
}
@font-face {
  font-family: gilroy-regular;
  src: url(/gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
}
.gilroy-r {
  font-family: gilroy-regular;
}
@font-face {
  font-family: inter-m;
  src: url(/inter/Inter-Medium.otf);
}
.inter-m {
  font-family: inter-m;
}
@font-face {
  font-family: inter-sb;
  src: url(/inter/Inter-SemiBold.otf);
}
.inter-sb {
  font-family: inter-sb;
}
@font-face {
  font-family: inter-r;
  src: url(/inter/Inter-Regular.otf);
}
.inter-r {
  font-family: inter-r;
}
.gradient-1 {
  background-image: linear-gradient(0deg, #1D4EFF 0%, #24B6FF 100%);
}
.gradient-2 {
  background: linear-gradient(0deg, #2082FF 0%, #27EBFF 100%);
}
.gradient-3 {
  background: linear-gradient(99.79deg, #FFFFFF 29.18%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(23px)
}
.gradient-4 {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #B4E1FF 49.52%, rgba(255, 255, 255, 0) 100%);
}
.my-pagination .swiper-pagination-bullet {
  background: rgba(0,0,0,0.2);
}
.my-pagination .swiper-pagination-bullet-active {
  background: rgba(0,0,0,1);
}

.my-pagination2 .swiper-pagination-bullet {
  background: rgba(0,0,0,0.2);
}
.my-pagination2 .swiper-pagination-bullet-active {
  background: rgba(0,0,0,1);
}